<%- partial('navbar-header.ejs') %>

<!-- Begin page content -->
<div class="container">
  <div class="page-header">
    <h1>Welcome to Waggin&rsquo; Aid! How can we help you?</h1>
  </div>
  
  <div class="row">
    <div class="col-lg-4">
      <div class="jumbotron">
        <p class="panel-heading">My pet has a potential health problem.</p>
        <a href="/symptom-checker" class="btn btn-primary btn-lg">Symptom Checker</a>
      </div>
    </div>
    
    <div class="col-lg-4">
      <div class="jumbotron">
        <p class="panel-heading">I want to check on drug dosing for my pet.</p>
        <a href="/medication-dosing" class="btn btn-primary btn-lg">Medication Dosing</a>
      </div>
    </div>
    
    <div class="col-lg-4">
      <div class="jumbotron">
        <p class="panel-heading">I need to talk to a vet NOW!</p>
        <a href="/video-chat" class="btn btn-primary btn-lg">Start Video Chat</a>
      </div>
    </div>
  </div>

  <div class="row">
    Help us with our market research: <a href="http://www.surveymonkey.com/s/2QRZVYK" target="_blank">Take our survey</a>
  </div>
  
</div>

<%- partial('footer.ejs') %>
<%- partial('bootstrap.ejs') %>
