<%- partial('navbar-header.ejs') %>

<!-- Begin page content -->
<div class="container">
  <div class="page-header">
    <h1>Legal Policy</h1>
  </div>
  
  <p>Use this website at your own risk. We assume no liability for the information.</p>
</div>

<%- partial('footer.ejs') %>
<%- partial('bootstrap.ejs') %>
