<%- partial('navbar-header.ejs') %>

<!-- Begin page content -->
<div class="container">
  <div class="page-header">
    <h1>Medication Dosing</h1>
  </div>
  
  <p>We're still working on this part...</p>
</div>

<%- partial('footer.ejs') %>
<%- partial('bootstrap.ejs') %>
