<%- partial('navbar-header.ejs') %>

<!-- Begin page content -->
<div class="container">
  <div class="page-header">
    <h1>Possible Causes</h1>
  </div>
  
</div>

<%- partial('footer.ejs') %>
<%- partial('bootstrap.ejs') %>
