<%- partial('navbar-header.ejs') %>

<!-- Begin page content -->
<div class="container">
  <div class="page-header">
    <h1>Symptom Checker</h1>
  </div>
  
  <div class="row animal-type">
    <div class="col-lg-4">
      <div class="jumbotron">
        <img src="/images/dog-silhouette.png"></img>
        <a href="/what-is-wrong?with-your=dog" class="btn btn-success btn-lg">Fido is sick</a>
      </div>
    </div>
    
    <div class="col-lg-4">
      <div class="jumbotron">
        <img src="/images/cat-silhouette.png"></img>
        <a href="/what-is-wrong?with-your=cat" class="btn btn-success btn-lg">Fluffy is sick</a>
      </div>
    </div>
    
    <div class="col-lg-4">
      <div class="jumbotron">
        <img src="/images/unicorn-silhouette.png"></img>
        <a href="/what-is-wrong?with-your=misc" class="btn btn-success btn-lg">Miscellaneous is sick</a>
      </div>
    </div>
    
  </div>

</div>

<%- partial('footer.ejs') %>
<%- partial('bootstrap.ejs') %>
