.navbar-header img.logo {
  float: left;
  height: 50px;
  padding-right: 20px;
}
.col-lg-4 .jumbotron .panel-heading {
  height: 80px;
}
.ui-dialog table,
.ui-dialog input[type="text"],
.ui-dialog textarea {
  width: 100%;
}
.ui-dialog input {
  margin: 2px 0;
}
.ui-dialog input[type="checkbox"] {
  margin-right: 6px;
}
.animal-type img {
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
  opacity: .4;
  width: 200px;
}
.OT_publisher {
  float: left;
  margin-right: 20px !important;
  min-height: 240px !important;
  min-width: 320px !important;
}
#map-canvas {
  height: 600px;
  width: 100%;
  margin: 0px;
  padding: 0px
}
